/* Style untuk body */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333333;
    line-height: 1.5;
    padding: 20px;
  }
  
  /* Style untuk heading */
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  /* Style untuk paragraph */
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Style untuk table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #ddd;
    font-weight: bold;
  }
  
  /* Style untuk link */
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005ea6;
  }
  