/* Style untuk elemen <body> */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Style untuk elemen <main> */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style untuk elemen <h1> */
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  /* Style untuk elemen <p> */
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Style untuk elemen <img> */
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Style untuk elemen <button> */
  button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Style untuk ketika tombol <button> ditekan */
  button:hover {
    background-color: #357ae8;
  }
  