body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 55px;
  font-weight: bold;
}

nav {
  display: flex;
  position: relative; /* atau absolute */
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0; /* ubah margin menjadi 0 */
  padding: 0; /* ubah padding menjadi 0 */
  position: relative; /* atau absolute */
  right: 0; /* untuk membuatnya berada di sebelah kanan */
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #e3e3e3;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #424242;
}
