/* Styling untuk elemen h1 */
h1 {
  text-align: center;
  margin-top: 30px;
}

/* Styling untuk elemen form */
form {
  max-width: 500px;
  margin: 0 auto;
}

/* Styling untuk elemen input dan textarea */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styling untuk elemen radio button */
input[type="radio"] {
  margin-right: 10px;
}

/* Styling untuk elemen label */
label {
  display: block;
  margin-bottom: 10px;
}

/* Styling untuk tombol submit */
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling untuk tombol submit ketika dihover */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* CSS untuk membuat radio button pria dan wanita menjadi mendatar */
input[type="radio"] {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

label[for="pria"], label[for="wanita"] {
  display: inline-block;
  vertical-align: top;
}